.flexContainer{
    border: 1px solid black;
    display:flex;
    height: 90vh;
    gap: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.flexItem{
    background-color: lightgray;
    border: 2px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-size: 24px;
    height:60px;
}