.gridContainer{
    border: 1px solid red;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(4, 200px);
    row-gap:10px;
    column-gap: 10px;
    /*justify-content: space-evenly;
    align-content: center;*/
}

.item{
    color: red;
    border: 1px solid;
    background-color: yellow;
    padding: 30px 40px;
}

.item:nth-child(1){
    /*grid-column-start: 3;
    grid-column-end: -1;*/
    grid-column: 3/-1;

    /*grid-row-start: 2;
    grid-row-end: 3;*/
    grid-row: 2/3;
}

body{
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "head head head" "navbar mainContent Aside" "Footer Footer Footer";
}

header{
    grid-area:head;
    background-color: black;
    color: white;
    padding: 10px;
}

nav{
    grid-area: navbar;
    background-color: green;
    color: yellow;
    border: 1px solid;
}

main{
    grid-area: mainContent;
    background-color: yellow;
    color: red;
    border: 1px solid;
}

aside{
    grid-area: Aside;
    background-color: blue;
    color: green;
    border: 1px solid;
}

footer{
    grid-area: Footer;
    background-color: black;
    color: white;
    padding: 10px;

}