.App {
  text-align: center;
}

body {
  background: linear-gradient(90deg, black, white)  ;
  color: white;
}

.Container1 {
  border: 2px solid white;
  margin: 100px;
  padding: 10px;
}

.btn1{
  width: 200px;
  height: 40px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px;
  background-color: white;
  border: 1px solid black;
}

.btn2{
  width: 200px;
  height: 40px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px;
  background-color: black;
  border: 1px solid white;
}

.btn1:hover{
  background: linear-gradient(90deg, white, black);
}
.btn2:hover{
  background: linear-gradient(270deg, white, black);
}
/* .btn1:hover, .btn2:hover {
  background: linear-gradient(90deg, rgb(59, 7, 84), rgba(255, 7, 7, 0.8));
} */

.counter1 {
  background: linear-gradient(90deg, rgba(149, 3, 146, 0.8), rgba(213, 10, 102, 0.8));
  border: 2px solid white;
  width: 600px;
  height: 230px;
}

.val {
  width: 60px;
  height: 40px;
  padding: 5px;
  color: gainsboro;
  background: linear-gradient(90deg, white, black);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.15);
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
