* {
  margin: 0;
  padding: 0;
}
.h1 {
  text-align: center;
  color: white;
  border: 3px solid red;
}
.h5 {
  text-align: center;
  color: white;
}

.p5{
    text-align: center;
    color: white;
}
#a {
  background-color: rgb(21, 78, 177);
  padding: 30px;
  border-radius: 8px;
}
body{
    background-color: rgb(170, 170, 170);
}
section{
    background-color: white;
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
form{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}
.question{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    background-color: rgb(233, 251, 255);
    border-radius: 8px;
}
