header{
    grid-area: header;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 25px;
    
}

nav{
    grid-area: navbar;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.div1{
    font-weight: bolder;
    font-size: 24px;
}

