.flexContainer{
    border: 1px solid black;
    display:flex;
    height: 90vh;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: flex-start;/* to align object closer to the previous line*/
}

.flexItem{
    background-color: lightgray;
    border: 2px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-size: 24px;
    height:100px;
    width: 200px;
}

.flexItem:nth-child(1){
    background-color: rgb(159, 24, 24);
    color: lightgray;
    order: 1;
}

.flexItem:nth-child(6){
    order:-1;
}

.flexItem:nth-child(2){
    align-self: flex-end; /*Won't work when align-content is invoked*/
}